

<html>
    <%- include('head'); -%>
    <body>

      <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-lg-8 col-xl-6">
                <h2> <% msg  %> </h2>
              <h2>Admin Login</h2>
              <form class="px-md-2" action="/AdminLogIn" method="POST">
      
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" name="userid" class="form-control" />
                  <label class="form-label" for="form3Example1q">UserId</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example1q" name="password" class="form-control" />
                  <label class="form-label" for="form3Example1q">Password</label>
                </div>
  
                <button type="submit" class="btn btn-success btn-lg mb-1">Login</button>
  
              </form>
            </div>
          </div>
        </div>
      </section>

    </body>
    <footer>
      <%- include('foot'); -%>
    </footer>
    
  </html>
 