<footer>
    
    <a href="/" style="color: crimson;">Mushtaq online Quran Acadmey</a><br>
        <p>Well come on pakistan's famous online Quran Acadmey.
            So, we are online Quran Acadmey, <br>Mushtaq online Quran Acadmey is providing experienced services to the students.<br><br>we are well known online quran Acadmey. </p>
    <div class="icons">
        <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
                <div class="head">Name</div>
                <div class="sub-title">Mushtaq online Quran Acadmey</div>
            </div>
        </div>
        <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
                <div class="head">Address</div>
                <div class="sub-title">Bahawalpur,Punjab,Pakistan</div>
            </div>
        </div>
        <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
                <div class="head">Email</div>
                <div class="sub-title">qarimuhammads786786@gmail.com</div>
            </div>
        </div>
        <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
                <div class="head">whats up</div>
                <div class="sub-title">+923069663168</div>
            </div>
        </div>
    </div>
</div>
    <br><a href="https://wa.me/923069663168" target="blank"style="color: crimson;">Talk-Freely</a><br>
        <p>           Mustaq online Quran Acadmey is providing you discussion facility 24/7. Make contact and get information you want. <br><br>
        </p>
    <a href="#courses" style="color: crimson;">Courses</a><br>
        <p>Mushtaq online Quran Acadmey is offering you multiple-courses.Which you can avail be checking course section.<br><br></p>
    
    <span>Created By <a href="https://wa.me/923016508607" target="blank">HusnainSaeed</a> | <span class="far fa-copyright"></span> 2020 All rights reserved.</span><br>
<span> 
    <script type="text/javascript" src="/js/script.js"></script>
</footer>