<!-- Created by HUSNAIN SAEED -->
<html lang="en">
    <%- include('head'); -%>
<body>

    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="row">
            <div class="home-content">
                <div class="text-1">Assalam-O-Alaikum!,Wellcome to </div>
                <div class="text-2">Mushtaq online Quran Acadmey</div>
                <div class="text-3">We are Online Quran Acadmey & Our Services <span class="typing"></span></div>
                <a href="#courses">Get early Admission</a>
            </div>
            </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Who we are</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="/images/Quran pak banner.jpg" alt="CEO Mushtaq Akram">
                </div>
                <div class="column right">
                    <div class="text">Our Famous Experienced Services  <span class="typing-2">Quran pak teaching</span></div>
                    <p><h4>Well come on pakistan's famous Qurani pak Acadmey</h4>So, we are online Quranic Acadmey, we are providing experienced services to the students.
                        Mushtaq Acadmey is focused on delivering valuable online Quran session to the students who 
                        no facility of physical tutor .Online Quran acadmey (Mushtaq Acadmey) is  more famous in specialised Quran learning
                        plateform for "learn Quran from your home".<br><br>

                        <h1 style="color: crimson;"> 
                            <i class="fas fa-users"></i>&nbsp Our Experienced Team</h1>
                            <p>We have experienced team for your childern's better learning.we have most 
                                experienced team on our plateform.Who guide students in every situatuion. <br><br>
                            </p>

                        <h1 style="color: crimson;">
                            <i class="fas fa-stopwatch "></i>&nbsp Suitable Timetable<br></h4>
                            <p>Mushtaq online Quran Acadmey provides services to their students
                            24/7. WE provide multiple classes in single day.So , students can chose their favourable time.<br><br></p>
                        <h1 style="color: crimson;"> 
                            <i class="fas fa-dolly"></i> &nbsp Multiple-courses<br></h1>
                            <p>Different courses  are available here to learn.Mushtaq Online Quran Acadmey is providing multiple courses to learn.
                                We are providing Different facilities to our students.
                            </p>
                        <h1 style="color: crimson;">
                            <i class="fas fa-address-card "></i>&nbsp Standards are High<br></h4>
                            <p>Mushtaq Online Quran Acadmey do not compromise on High Teaching Standards.
                                We are teaching young as well as adult people world-wide and we are maintaing our high Standards. <br><br></p>    
                        <h1 style="color: crimson;">
                            <i class="fas fa-globe-asia"></i>&nbsp Offering Multi-Lnguage Staff<br></h4>
                            <p>Mushtaq Online Quran Acadmey has educated staff  who can teach you Tarjama and Taafseer-e-Quran and other courses
                                in multiple languages.<br><br></p>    
                    </p>
                    <a href="#contact">Get in  touch</a>
                </div>
            </div>
        </div>
    </section>
    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">What we offers</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-book-open"></i>
                        <div class="text">Quranic-Education</div>
                        <p>Mushtaq online Quran Acadmey is one of the famous Online Quran Acadmey in Pakistan.We are providing multiple courses in the situation of Corona  pandamic.<br>
                        As you know Mushtaq Online Quran Acadmey in pakistan is specialized in online Quran Pak learnings.We are providing online services as well as physical.  Our mission is to spread Islamic learnings worldwide.
                        <br><h4>"Our experienced teachers ,teach Quran Pak verses for intellectual as well as spirtual knowledge of your childrens."</h4>
                        Education should begin at early age with the study of Arabic and Holy Quran either at home or in primary school.Now we are providing this servic at your door step. </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">English-Mastery</div>
                        <p>We are providing Online English language course for your childerns better future.As you know
                        english language is one of  basic needs of future.<br><h4>"As you know English is the Language of today's Bussiness and Politics.  
                        "</h4>That,s why our experienced teachers are here to
                        provide your's childern Online English language course for better and secure future.Online English courses in pakistan are in demand these days.
                        <h4>"Mushtaq Online Quran Acadmy can add value to your children's life by teaching them future language(English)."</h4>
                        we are also providing online english speaking courses.Mushtaq Online Quran Acadmy is providing now Online English courses in pakistan .      </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-handshake"></i>
                        <div class="text">Future Consultants</div>
                        <p><a>Mushtaq Accadmey</a> is the one of best child Future consultents.As you know one of the 
                                the biggest problem for students these days is in which proffession should i go.
                                Which profession is valuable for me?We are solving this problem for you.We are providing you Future Consultancs for free 
                        <h4>"Our experienced proffessionals find hidden potentials in your childern and decide perfect proffession for them with the help of their Future consultants experience."</h4> We make frindly
                        relationships with our students and make a usefull decision for their future.Because experience is more important then knowledge.
                        That's why our experienced team is here to serve you.For Future consultation you  can contact with our team.  </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- servicess section start -->
    <section class="skills" id="services">
        <div class="max-width">
            <h2 class="title">Our Services</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">Our pakage of servicess & experiences.</div>
                    <p><h4>We are online Quran Accadmey,we are teaching Holy Book of Allah Quran pak specialy.
                        Mushtaq Online Quran Acadmy believe in transparacy .Mushtaq Online Quran Acadmy is providing these services .Our team is expert in teaching online Quran.</h4>
                    .<br>Our CEO provides the services of Physiotherapy and English Mastry.
                    He is a Doctor and also teacher .<br><h4>We also are studendt consultants.
                        We are providing these services right now.In future we can increase number of courses.
                        So keep connected for contineous learning.please chek out our all services.</h4>we are more famous due to our online quran acadmey.
                    </p>
                    <a href="#home">Read more</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>Quran-pak</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Physiotherapy</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Teaching-Experience</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Student-Consultancy</span>
                            <span>50%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>English-Teaching</span>
                            <span>70%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section section start -->
    <section class="teams" id="Team">
        <div class="max-width">
            <h2 class="title">Our Experienced teachers</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="/images/T1 (4).jpg" alt="Qari Mushtaq Akram">
                        <div class="text">Qari Mushtaq Akram</div><br>
                        <p>Mushtaq online Quran Acadmey is one of the famous online Quran Acadmey in Pakistan.We are providing multiple courses in the situation of Corona  pandamic.<br>
                            As you know Mushtaq online Quran Acadmey is specialized in online Quran learnings. Our mission is to spread Islamic learnings worldwide.
                            Qari Muhammad Mushtaq Akram is CEO of our organization.He is a proffessional teacher.
                            He is a jack of 
                            <h4> He is a experienced teacher. He has teaching 5-years teaching experience. </h4>
                            all person he is providing multiple services to our community.<b>We are proud of our pride.</b>
                            <h3>Email:muhammadmushtaq.kchs@gmail.com</h3>
                            <h3>Contact:+923156234942</h3>
                            </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/T1 (2).jpg" alt="Qari Muhammad Saleem">
                        <div class="text">Qari&nbspMuhammad&nbspSaleem</div><BR>
                        <p>Mushtaq online Quran Acadmey is one of the famous online Quran Acadmey.We are providing multiple courses in the situation of Corona  pandamic.<br>
                            As you know Mushtaq online Quran Acadmey is specialized in online Quran learnings. Our mission is to spread Islamic learnings worldwide.
                            Qari Muhammad Saleem Mehrvi is specialised Quranic teacher.He is a proffessional Quran Pak teacher.
                            <h4>He is expert in teching online Quran-pak.He has teaching experience of amazing 7-years.</h4>
                            <h3>Email:qarimuhammads786786@gmail.com</h3>
                            <h3>Contact:+923069663168</h3>
                            <h3>SkypeID:Qari Muhammad Saleem Mehrvi</h3>
                            </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/T1 (3).jpg" alt="Husnain Saeed">
                        <div class="text">Husnain Saeed</div><br>
                        <p>Mushtaq online Quran Acadmey is one of the famous online Quran Acadmies.We are providing multiple courses in the situation of Corona  pandamic.<br>
                            As you know Mushtaq online Quran Acadmey is specialized in online Quran learnings. Our mission is to spread Islamic learnings worldwide.
                            Qari Husnain Saeed is experet in teaching online Quran pak.He is a proffessional teachehr.
                            <h4>He is our respected teacher.He is expert in teching Quran-pak.He has teaching experience of  3-years.</h4>
                            <h3>Email:Husnainsaeed000@gmail.com</h3>
                            <h3>Contact:+923016508607</h3>
                            </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<!-- courses section start -->
<section class="cours" id="courses">
    <div class="max-width">
        <h2 class="title">Our courses in Demand</h2>
        <div class="carousel owl-carousel">
            
            <div class="card">
                <div class="box">
                    <img src="/images/pexels-abdulmeilk-aldawsari-36833.jpg" alt="Nazra-Quran-pak(Tajweed)">
                    <div class="text">Nazra&nbspQuran(Tajweed)</div><br>
                    <p> <b>Nazra Quran pak(Tajweed) </b>We are teaching on our platform.
                        Holy Quran-pak is a complete code of life to guide Human beings.
                        Holy Book of Allah has deep as well as unique lessons for human success in both worlds.<b></b>
                        To study the Book of treasures(Quran-pak),you must need an experienced teacher.
                        Mushtaq Online Quran Acadmey is providing you this facility at your home.
                        learn Quran pak with us.
                    </p>
                        <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;"><b>Get Enroll</b></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/Quran-pak-online.jpg" alt="Hiffz-e-Quran-pak(Qiraat)">
                    <div class="text">Hiffz-e-Quran&nbsppak(Qiraat)</div><br>
                    <p>We are teaching <b>Hiffz-e-Quran-pak(Qiraat)</b> on our platform.
                        Holy Quran-pak is a complete code of life to guide Human beings.
                        Holy Book of Allah has deep as well as unique lessons for human success in both worlds.<b></b>
                        To study the Book of treasures(Quran-pak),you must need an experienced teacher.
                        Mushtaq Online Quran Acadmey is providing you this facility at your home.
                        learn Quran pak with us.</p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/Norani Qaida.jpg" alt="Norani Qaida">
                    <div class="text">Norani&nbspQaida</div><br>
                    <p>As you know everything has its basis.<b>Norani  Qaida</b> is the starting(Base) point of Holy Book of Allah(Qu).
                        Norani Qaida is the tradional way of Quran learning. We are teaching Norani Qaida also .
                        Many Quran Acadmies are ignoring Norani Qaida in Quran-learning these days.<br>
                        But we can not ignore our cultural values.  We are still teaching Norani Qaida.<br></p>
                        <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/madni qaida.jpg" alt="madni qaida">
                    <div class="text">Madni Qaida</div><br>
                    <p><b>Madni Qaida</b>  is also considered as the base of Holy Quran.All Madariss teach Madni Qaida as starting point of Holy Book of Allah.
                        Mushtaq online Quran Acadmey is also teaching Madni Qaida.<br>Our experienced teachers teache
                        teach Madni Qaida with full focus and attention.Because as you know it is the base of Holy Quran.  </p>
                        <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/namaz.jpg" alt="Namaz">
                    <div class="text">Namaz</div><br>
                    <p><b>Namaz </b>is the one of the pillers of Islam.It is also Known as Salat.Namaz is the "Gift of Allah" to yhe Muslims.
                        Namaz differentiate Muslims from all Non-Muslims. Salat build our deep connection with our Allah Almighty.
                        Namaz is faraz(compulsory) on every Muslim Five times a day.Every muslim should offer prayers.But first of all we 
                        should learn how to offer prayer?Mushtaq Online Quran Acadmey is providing you this facility at your home.
                        learn Namaz(Salat) with us.  </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/masnoon duain.jpg" alt="Masnoon-Duaain">
                    <div class="text">Masnoon-Duaain</div><br>
                    <p><b>Masnoon-Duaain</b> play vital role in very Muslim's life.
                    It is a great reward to every Muslim from Allah Almighty.Dua is the essence of every prayer.
                    We all Muslims recite Mahboob-Duaain after prayer. We believe it is an essential part of our worships.
                    We recite Duain to get more closer to Allah.We recite Mahboon-Duaain to get Allah's Blessings in every piece of work. 
                    We are also offering Masnoon-Duaain course for you.Mushtaq Online Quran Acadmey is providing you this facility at your home.   </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/namaz janaza.jpg" alt="Namaz Janaza">
                    <div class="text">Namaz Janaza</div><br>
                    <p><b>Namaz Janaza</b> is the funeral prayer of Islamic culture.Salat-al-Janazah is the part of Muslims rituals.
                        We offer Namaz Janaza to seek Maghfirat for dead Muslim from Allah Almighty.
                        It is an important salat for Muslims.We are also offering Masnoon-Duaain course for you.Mushtaq Online Quran Acadmey is providing you this facility at your home. </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/Quran transaltion.jpg" alt="Taafseer Quran">
                    <div class="text">Taafseer Quran</div><br>
                    <p>We are teaching<b>Taafseer Quran</b> here on our plateform. Holy Quran-pak is a complete code of life to guide Human beings.
                        Holy Book of Allah has deep as well as unique lessons for human success in both worlds.<b></b>
                        To study the Book of treasures(Quran-pak),you must need an experienced teacher.
                        Mushtaq Online Quran Acadmey is providing you this facility at your home.</p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div><div class="card">
                <div class="box">
                    <img src="/images/6-kalma.png" alt="Imaniaat & 6-Kalmaa">
                    <div class="text">Imaniaat&nbsp&&nbsp6-Kalmaa</div><br>
                    <p><b>Imaniaat & 6-Kalmaa</b> are very important and must be memorized by every Muslim.
                        It is a basic  information that every Muslim must know.kalma is the piller of Islam .It is  a key to accept Islam.
                        It is basic need for every single Muslim.Mushtaq Online Quran Acadmey is now fullfiling your need.  We are providing you this facility at your home   </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="images/english.jpg" alt="Basics of English">
                    <div class="text">Basi&nbspof&nbspEnglish</div><br>
                    <p>We are providing English-Mastery course for your childerns better future.As you know
                        english language is one of  basic needs of future.We are teaching <b>Basics of English</b>.It is the language of Future and every single Bussiness.
                        That's why we are offering Basics of English crash course.Mushtaq Online Quran Acadmey is now fullfiling your need.  We are providing you this facility at your home   </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/images/consultant.jpg" alt="Future consultant">
                    <div class="text">Future&nbspconsultant</div><br>
                    <b>Future consultant:</br>As you know one of the 
                        the biggest problem for students these days is in which proffession should i go.
                        Which profession is valuable for me?We are solving this problem for you.
                        We are providing you Consultancy for free . We make frindly
                        relationships with our students and make a usefull decision for their future.Because experience is more important then knowledge.
                        That's why our experienced team is here to serve you.  </p>
                    <a href="/enroll" style="color:white; background-color:red; border-radius: 5px; padding: 5px;">Get Enroll</a>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact Us</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text"><h1>Get in Touch</h1></div>
                    <p><h4>Well come on pakistan's famous online  Quran Acadmey.</h4>So, we are online Quranic-Educational Acadmey, we are providing experienced services to the students.
                        Mushtaq online Quran Acadmey is focused on delivering valuable online Quran session to the students who 
                        no facility of physical tutor .Online Quran acadmey (Mushtaq online Quran Acadmey) is  more famous in specialised Quran learning
                        plateform for "learn Quran from your home".<br><br>
                        <h1 style="color: crimson;"> 
                            <i class="fas fa-users"></i>&nbsp Our Experienced Team</h1>
                            <p>We have experienced team for your childern's better learning.we have most 
                                experienced team on our plateform.Who guide students in every situatuion. <br><br>
                            </p>

                        <h1 style="color: crimson;">
                            <i class="fas fa-stopwatch "></i>&nbsp Suitable Timetable<br></h4>
                            <p>Mushtaq online Quran Acadmey provides services to their students
                            24/7. WE provide multiple classes in single day.So , students can chose their favourable time.<br><br></p>
                        <h1 style="color: crimson;"> 
                            <i class="fas fa-dolly"></i> &nbsp Multiple-courses<br></h1>
                            <p>Different courses  are available here to learn.Mushtaq online Quran Acadmey is providing multiple courses to learn.
                                We are providing Different facilities to our students.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Mushtaq online Quran Acadmey</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Bahawalpur,Punjab,Pakistan</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">qarimuhammads786786@gmail.com</div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">whats up</div>
                                <div class="sub-title">+923069663168</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">SkypeID</div>
                                <div class="sub-title">Qari Muhammad Saleem Mehrvi</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form class="contact-form" action="#" method="POST">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" class="fullname" placeholder="Name">
                            </div>
                            <div class="field email">
                                <input type="text" class="email-input" placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" class="subject" placeholder="Subject">
                        </div>
                        <div class="field textarea">
                            <textarea class="message" cols="30" rows="10" placeholder="Message.."></textarea>
                        </div>
                        <div class="button-area">
                            <a href="#home"><button href class="send-msg" type="submit" name="send">Send message</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <%- include('foot'); -%>

    <script src="script.js"></script>
</body>
</html>
